[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "latest"
fastapi = {extras = ["all"], version = ">=0.95"}
pytest = ">=7.3"
uvicorn = {extras = ["standard"], version = ">=0.21"}
api-src-cedrata = {editable = true, path = "."}

[requires]
python_version = "3.10"
